@font-face {
    font-family: Inter;
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

body{
    background-color: red;
}


.titulo{
    color: green;
    text-align: center;
}

p{
    font-family: "Exile", system-ui;
    text-align: center;
}