@font-face {
    font-family: Inter;
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
}

.fundo{
    background-color: red;
    height: 100vh;
    text-align: center;
}


.titulo{
    color: green;
}

p{
    font-family: "Exile", system-ui;
}