@font-face {
    font-family: "Inter";
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    text-align: center; 
    font-family: "Inter";   
}

.fundo{
    background-color: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(0, 115, 196, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    color: #fff;
    font-size: 40px;
}

img{
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: solid #ffffff;
    margin: 10px;
    box-shadow: 2px -2px 26px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px -2px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 26px -6px rgba(0,0,0,0.75);
}

.descricao{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
}

.curiosidade{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    justify-items: center;
}

.curiosidade ol{
    list-style-position: inside;
}

.gif-sonic{
    width: 1030px;
    object-fit: cover;
}


.titulo-saiba-mais{
    color: black;
    font-size: 30px;
}

.saiba-mais{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
}

.btn-saiba-mais{
    border: none;
    background-color: #0021b4;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.btn-saiba-mais:hover{
    background-color: #000d46;
}