@font-face {
    font-family: "Inter";
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    text-align: center; 
    font-family: "Inter";   
}

.fundo{
    background-color: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgb(4, 105, 177) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    color: #fff;
    font-size: 40px;
}

img{
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: solid #ffffff;
    margin: 10px;
    box-shadow: 2px -2px 26px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px -2px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 26px -6px rgba(0,0,0,0.75);
}

.descricao{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    border: 1px #000000 solid;
}

.curiosidade{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    justify-items: center;
    border: 1px #000000 solid;
}

.curiosidade ol{
    list-style-position: inside;
}

.titulo-saiba-mais{
    color: black;
    font-size: 30px;
}

.saiba-mais{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    border: 1px #000000 solid;
}

.saiba-mais a{
    text-decoration: none;
    background-color: #000d46;
    margin-top: 100px;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
    transition: 0.2s;
    font-weight: bold;
}

.saiba-mais a:hover{
    background-color: #fff;
    color: #000d46;
    transition: 0.2s;
    border: 1px solid #000d46;
}
