@font-face {
    font-family: "Inter";
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}
<<<<<<< HEAD
*{
    margin: 0;
}

.fundo{
    height: 100vh;
}

.quadrado-pai{
    width: 270px;
    height: 400px;
    
    /* margin: 10px 20px 20px 100px; */
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-right: 20px;
    border-radius: 20px;

    text-align: center;
    padding: 15px;
    border: 1px solid black;
}

/*Minha tag img esta sendo referenciada a minha classe quadrado*/
.quadrado-pai img{
    height: 200px;
    border-radius: 20px;
    width: 100%;
    /* centraliza o objeto conforme o tamanho vai se adptando */
    object-position: center;
}

.quadrado-pai a{
    background-color: #d30606;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font: "Inter";
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #000000;
    transition: 0.5s
}

.quadrado-pai a:hover{
    background-color: #ffffff;
    color: #d30606;
    transition: 0.5s;

=======

*{
    margin: 0;
    font-family: "Inter";
}

.fundo-pagina{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 20px;
    max-width: 1000px;      /* Define largura máxima para centralizar */
    margin: 0 auto;          /* Centraliza o grid na tela */
}

.card-atividades{
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: -1px -1px 13px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 13px -4px rgba(0,0,0,0.75);;
    height: 190px;         /* altura fixa para todos os cards */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    gap: 10px;
}

.card-atividades h1{
    font-size: 20px;
    color: #000000;
}

.card-atividades p {
    color: #494949;
    height: 80px;      /* altura fixa para o parágrafo */
    overflow: hidden;  /* esconde texto que ultrapassar essa altura */
    flex-grow: 1;      /* ocupa espaço restante */
}

.card-atividades button{
    padding: 5px;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.card-atividades button:hover{
    background-color: #494949;
>>>>>>> 7663cd05ea4b4df1f8eb08d2cf95ef070ee21b11
}