@font-face {
    font-family: "Inter";
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    margin: 0;
    font-family: "Inter";
}

.fundo{
    height: 100%;
    background-color: #e7e7e7;
}

.grade{
    /* Jeito que voce vizualiza as coisas 
     display: none; -> Você não esta vendo o elemento na pagina
    */

    display: grid; /*Criei a minha grade*/
    grid-template-columns: 300px 300px 300px; /*O template do meu grid (quantas colunas voce quer/ e tamanho)*/
    grid-template-rows:500px 500px 500px; /*Template do meu grid (linhas)*/
}

.quadrado-pai{
    background-color: #fff;
    
    width: 270px;
    height: 450px;
    
    /* margin: 10px 20px 20px 100px; */
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-right: 20px;
    border-radius: 20px;

    text-align: center;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border: none;

    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.quadrado-pai h1{
    text-align: left;
    margin-left: 10px;
}

.quadrado-pai p{
    margin-top: 10px;
    margin-left: 10px;
    height: 90px;
    text-align: left;
}
/*Minha tag img esta sendo referenciada a minha classe quadrado*/
.quadrado-pai img{
    height: 200px;
    border-radius: 20px;
    width: 100%;
    /* centraliza o objeto conforme o tamanho vai se adptando */
    object-position: center;
}

.quadrado-pai a{
    background-color: #000000;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

.quadrado-pai a:hover{
    background-color: #4e4e4e;
    transition: 0.5s;
}